VERIFICATION Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

This package is published by Katharos Technology, the author of the Lucky software. This Chocolatey package contains the same Lucky binary that is released on the [GitHub Releases](https://github.com/katharostech/lucky/releases).
